# IDE settings
.idea/
.vscode/

# Python bytecode and notebook clutter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
Module03/proj3/

# Hugging Face download cache and saved local model artifact
Module09/hf_cache/
Module09/yelp_price_model/

# Local secrets
.env
*.pem
*.key

# Windows/macOS clutter
Thumbs.db
.DS_Store

# Misc

Posts/
Project Papers/
HOS/
TP0*
matrix_issue*
Include/
Lib/
Scripts
ai520*/
PE0*
*.docx